# Python
*.pyc
*.pyo
__pycache__/
*.pyc
*.swp

# Django
*.log
db.sqlite3
media/

# Virtual environment
env/

# IDE
.vscode/
.idea/

# Dependency management
pip-wheel-metadata/
pip-compile.*

# Other
.DS_Store
.env
